.container {

}

.panel-heading {
  text-align: center;
}

.col-md-4 {
  text-align: center;
}

.col-md-4:hover {
  color: darkred;
}

.well {
  width: 80%;
}

.form-control {
  width: 80%;
}

.rubyhidden, .phphidden, .javahidden, .designhidden, .cnethidden {
  display: none;
}
