.leftbar {
  width: 250px;
  float: left;
  background-color: #F2F5F2;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.leftbar .panel {
  width: 90%;
  margin-left: 10px;
  background-color: #F1FDF1;
}

.container {
  margin-left: 250px;
}

.panel-heading {
  text-align: center;
}

.col-md-4 {
  text-align: center;
}

.col-md-4:hover {
  color: blue;
}

.panel-body li:hover {
  color: green;
}

h3 {
  text-align: center;
}

.well {
  width: 80%;
}

.form-control {
  width: 80%;
}

.rubyhidden, .phphidden, .javahidden, .designhidden, .cnethidden {
  display: none;
  color: black;
  text-decoration: none;
}

#cssresult, #phpresult, #rubyresult, #javaresult, #cnetresult {
  display: none;
}

#jumboresult:hover {
  text-decoration: underline;
  color: darkred;
}
